.first-page-button,
.second-page-button {
    display: flex;
    align-items: center;
}
.text {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}

.first-page-button .plus-button {
    background-color: #67e089;
}
.first-page-button .minus-button {
    background-color: #f2526d;
}
.second-page-button .plus-button {
    background-color: #67aae0;
}
.second-page-button .minus-button {
    background-color: #e0d067;
}
.plus-button, .minus-button {
    border: none;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor:pointer;
}
.plus-button:hover,
.minus-button:hover {
    background-color: grey;
}
.plus-button:after,
:before,
.minus-button:after,
:before {
        content: "";
        display: block;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.plus-button:before {
        height: 1em;
        width: 0.2em;
    }

.plus-button:active,
.minus-button:active {
    transform: translateY(5px);
}

.plus-button:after,
.minus-button:after {
        height: 0.2em;
        width: 1em;
    }
